<div id="" class="contentContainerBordered">
    <br>
    <form #createClientForm="ngForm" class="form">
        <header class="header">
            <h1>
                Cadastrar cliente - {{nomeFantasia}}
            </h1>
        </header>
        <br>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput type="text" name="nome" [(ngModel)]="client.nome" #nome="ngModel"
                placeholder="Digite a nome do seu cliente" value="" required>
            <div *ngIf="nome.errors && (nome.dirty || nome.touched)" class="alert alert-danger">
                <div [hidden]="!nome.errors.required">
                    Esse campo é obrigatório!
                </div>
            </div>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput type="text" name="email" [(ngModel)]="client.email" #email="ngModel"
                placeholder="Digite o e-mail do seu cliente" value="" required>
            <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                <div [hidden]="!email.errors.required">
                    Esse campo é obrigatório!
                </div>
            </div>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Telefone</mat-label>
            <input matInput type="text" name="telefone" [(ngModel)]="client.telefone" #telefone="ngModel"
                placeholder="Digite o telefone do seu cliente" value="" required>
            <div *ngIf="telefone.errors && (telefone.dirty || telefone.touched)" class="alert alert-danger">
                <div [hidden]="!telefone.errors.required">
                    Esse campo é obrigatório!
                </div>
            </div>
        </mat-form-field>

        <div class="button-row">
            <button mat-flat-button color="warn" >Cancelar</button>
            <button mat-flat-button style="float:right" (click)="createClient()" color="primary">Cadastrar</button>
        </div>
    </form>
</div>