<div id="" class="contentContainerBordered">
    <!-- <header>

        <img height="50" src="../../../assets/logo.c037bd80.svg" class="logo">
    </header> -->
    <br>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Login</mat-label>
            <input matInput placeholder="Digite o seu usuario" value="">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <textarea matInput placeholder="Digite a sua senha"></textarea>
        </mat-form-field>
        <div class="example-button-row">
            <button mat-flat-button color="warn">Cadastrar</button>
            <button mat-flat-button style="float:right" color="primary">Login</button>
        </div>
    </form>
</div>