<div class="container">

    <table mat-table [dataSource]="orderProducts" class="mat-elevation-z8">

        <!-- Coluna do Numero do pedido -->
        <ng-container matColumnDef="pedidoNumero">
            <th mat-header-cell *matHeaderCellDef> Numero do pedido </th>
            <td mat-cell *matCellDef="let element"> {{element.pedidoNumero}} </td>
        </ng-container>

        <!-- Coluna da Observação -->
        <ng-container matColumnDef="observacao">
            <th mat-header-cell *matHeaderCellDef> Observação </th>
            <td mat-cell *matCellDef="let element"> {{element.observacao}} </td>
        </ng-container>

        <!-- Coluna do cliente -->
        <ng-container matColumnDef="nomeCliente">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.nomeCliente}} </td>
        </ng-container>
        <!-- Coluna do cliente -->
        <ng-container matColumnDef="dataPedido">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.dataPedido}} </td>
        </ng-container>

        <!-- Coluna dos produtos -->
        <ng-container matColumnDef="produtos">
            <th mat-header-cell *matHeaderCellDef> Produtos </th>
            <td mat-cell *matCellDef="let element"> {{element.produtos}} </td>
        </ng-container>

        <!-- Coluna com os botões de editar e excluir -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <mat-cell *matCellDef="let row" >
                 <button mat-button color="accent" (click)="goToEdit(row)" >Editar</button>
                 <button mat-button color="warn" >Excluir</button>
            </mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>