<div id="" class="contentContainerBordered">
    <!-- <header>
        <img height="50" src="../../../assets/logo.c037bd80.svg" class="logo">
    </header> -->
    <br>
    <form #createCompanyForm="ngForm" class="form">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Razão Social</mat-label>
            <input matInput type="text" name="razaoSocial" [(ngModel)]="company.razaoSocial" #razaoSocial="ngModel"
                placeholder="Digite a razão social da sua empresa" value="" required>
            <div *ngIf="razaoSocial.errors && (razaoSocial.dirty || razaoSocial.touched)" class="alert alert-danger">
                <div [hidden]="!razaoSocial.errors.required">
                    Esse campo é obrigatório!
                </div>
            </div>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Nome Fantasia</mat-label>
            <input matInput type="text" name="nomeFantasia" [(ngModel)]="company.nomeFantasia" #nomeFantasia="ngModel"
                placeholder="Digite o nome fantasia da sua empresa" value="" required>
            <div *ngIf="nomeFantasia.errors && (nomeFantasia.dirty || nomeFantasia.touched)" class="alert alert-danger">
                <div [hidden]="!nomeFantasia.errors.required">
                    Esse campo é obrigatório!
                </div>
            </div>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>CNPJ</mat-label>
            <input matInput type="text" name="cnpj" [(ngModel)]="company.cnpj" #cnpj="ngModel"
                placeholder="Digite o CNPJ da sua empresa" value="" required>
            <div *ngIf="cnpj.errors && (cnpj.dirty || cnpj.touched)" class="alert alert-danger">
                <div [hidden]="!cnpj.errors.required">
                    Esse campo é obrigatório!
                </div>
            </div>
        </mat-form-field>

        <div class="button-row">
            <button mat-flat-button color="warn" >Cancelar</button>
            <button mat-flat-button style="float:right" (click)="createCompany()" color="primary">Cadastrar</button>
        </div>
    </form>
</div>